<h1 class="text-center">Sorry, your team is full! If you'd like to add another player,<br /> please delete an exisiting one from your team first.</h1>
<br />
<center><a class="btn-outline-warning" href="../Home/ViewTeams">Click here to go back to the Team page!</a></center>
