@{
    ViewData["Title"] = "How To";
}
@section head{
    <style type="text/css">
        body {
            background-image: url('/Images/LooneyCircle.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
}
<head>
    <style>
        h1 {
            text-shadow: 2px 2px #ffffff;
        }
        h3 {
            text-shadow: 2px 2px #ffffff;
        }
        h4 {
            color: white;
            font-size: 30px;
            text-shadow: 1px 1px #000000;
        }
    </style>
</head>
<body class="background">
    <div class="text-center">
<h3>So you want to know how the Space Jam Sim works?</h3>

<iframe src="https://giphy.com/embed/4kd7EL6lWaW9W" width="480" height="332" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/4kd7EL6lWaW9W"></a></p>
<br />


<h4>In this application we allow the user to create teams that they can run against randomized Monstar squads to see if they can save the world like in the cult classic film Space Jam.</h4>
<h4>After creating a login, search for a player by name or by way of our popular players list.</h4>
<h4>The user can create as many teams as they wish and select between the teams in attempts to defeat the Monstars.</h4>
<h4>A note to heed is due to a limitation of the API, all stats are for the 2018 season, therefore the players you search would best help your squad if they played in the 2018 season.</h4>
<h3>Have fun!</h3>

    </div>
</body>

