@{
    ViewData["Title"] = "Home Page";
}

@section head{
    <style type="text/css">
        body {
           
            background-image: url('/Images/LooneyCircle.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
}

@*<html>
<head>
    <link href="~/CSS/site.css" rel="StyleSheet">
</head>*@
<body class="background">
    <div class="text-center">

        <h1>Welcome</h1>


        <h1>to the space jammmmmmmm!!!!</h1>
        @*<iframe src="https://open.spotify.com/embed/track/683hRieVmYdAhVA1DkjSAk" width="300" height="100" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>*@
    </div>
</body>
@*</html>*@