@{
    ViewData["Title"] = "Home Page";
}

@section head{
    <style type="text/css">
        body {
           
            background-image: url('/Images/LooneyCircle.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
}

<head>
    <style>
        h1 {
            text-shadow: 2px 2px #ffffff;
        }
    </style>
</head>
<body class="background">
    <div class="text-center">

        <h1>Welcome</h1>

        <h1>to the space jam!</h1><br /><br /><br />
        
        
    </div>
</body>
