@{
    ViewData["Title"] = "Home Page";
}
<form class="search" action="../Home/PlayerList" method="post">
    <input type="text" placeholder="Search for Players..." name="search" required>
    <button style="height:47px;" type="submit">Search</button>
</form>