<style>
    body {
        background-image: url('/Images/LooneyCircle.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>
<h1 class="text-center">Sorry, this player is already on your team!</h1>
<br />
<center><a class="btn btn-outline-warning" href="../Home/ViewTeams">Click here to go back to the Team page!</a></center>
