<style>
    body {
        background-image: url('/Images/LooneyCircle.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>
<h3 class="text-center">Sorry, this player is already on your team!</h3>
<br />
<center>
  
        <form action="../Home/ViewTeams" method="post">
            <button type="submit" class="btn btn-outline-warning">Click here to go back to the Team page!</button>
        </form>
    
</center>
