/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@font-face {
    font-family: myFirstFont;
    /*src: url(../slkscr.ttf);*/
    src: url(../ThatsFontFolks.ttf);
}
p.customfont {
    font-family: myFirstFont, Tahoma;
    
}
div {
    font-family: myFirstFont;
}
.paragraph{
    font-family: myFirstFont;
}
.navBarFont {
    font-size: 13px;
}
.table-primary {
    background-color: purple;
    color: white;
    border: dotted;
    border-color: orange;
}
.text-primary{
    color: orange;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

body, h4, h5, h6 * {
    color: orange;
}
h1 {
    color: purple;
    font-size: 200px;
}
h2{
    color: purple;
    font-weight: bold;
    text-decoration-line: underline;
}
h3 {
    color: purple;
    font-size: 50px
}


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: white;
    background-color:purple;
    border-color: deeppink;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 20px; /* Vertically center the text there */
    text-align:center;
  
}
.iframe {
    margin: 0 auto;
    display: block;
    width: 100px;
    height: 50px;
}


/*@font-face{
    font-family: WhatTheFont;
    src:url(../Fonts/ThatsFontFolks.ttf);
}*/
/*p{
    font-family: WhatTheFont;
}*/
/*div{
    font-family: WhatTheFont;
}
.navBarFont {
    font-size: 13px;
}

a:link {
    text-decoration: none;
}
body, h1, h2, h3, h4, h5, h6 *{
    color: #ffd800;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}*/

/* Provide sufficient contrast against white background */
/*a {
  color: #ffd800;
}

.btn-primary {
  color: #ffd800;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #ffd800;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}

body {*/
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;*/ /* Vertically center the text there */
/*}

.background{
    background-color: rebeccapurple;

}
.backgroundImage {
    background-image: url('/Images/LooneyCircle.png');
    height: 500px; /* You must set a specified height */
    /*background-position: center;*/ /* Center the image */
    /*background-repeat: no-repeat;*/ /* Do not repeat the image */
    /*background-size: cover*/
/*}*/

